body{
    background-color:midnightblue;
}

ul#tt li{
    padding-right: 120; 
    display: inline-table;
    font-family: 'Bangers', cursive;
}
ul#tt{
    margin-left: 220;
}
ul#tt li a{
    color: yellow;
    text-decoration: none;    
    font-size: 20;
    
    
}
div#tw{
    font-family: 'Bangers', cursive;
    background-color: black;
    text-align: center;
    padding-top: 30;
    padding-bottom: 30;
}
h1#ee{
    font-size: 100;
    color: darkgrey;
}
p#er{
    font-size: 40; 
    color: cyan;
}
#lineone{
    font-family: 'Bangers', cursive;
    text-align: left;
    padding-top: 30;
    padding-bottom: 30;
    font-size: 30;
    color: cyan;
}
#boxone{
    width: 38%;
    height: 200px;
    background-color:orangered;
    margin-left: 20%;
}
#captions{
    font-family: 'Bangers', cursive;
    text-align: left;
    font-size: 30px;
    color: yellow;
    margin-top: -0.25%;
}
.ttlia{
    color: yellow;
    text-decoration: none;    
    font-size: 20;
}